@import "tailwindcss";

body {
  font-family: "Cormorant Garamond", serif;
  height: 100%;
  width: 100%;
}

@theme {
  --color-primary: #eddfe0;
  --color-secondary: #735557;
}

/* Tambahkan ke file CSS global, misalnya index.css atau globals.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
  width: 10px;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
